<a href="https://colab.research.google.com/github/shrad1997/SVM/blob/main/SVM_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# SVM Classification
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report


from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
train_data=pd.read_csv("/content/SalaryData_Train(1).csv")
test_data=pd.read_csv("/content/SalaryData_Test(1).csv")

In [3]:
train_data.head(5)

   age          workclass   education  ...  hoursperweek          native  Salary
0   39          State-gov   Bachelors  ...            40   United-States   <=50K
1   50   Self-emp-not-inc   Bachelors  ...            13   United-States   <=50K
2   38            Private     HS-grad  ...            40   United-States   <=50K
3   53            Private        11th  ...            40   United-States   <=50K
4   28            Private   Bachelors  ...            40            Cuba   <=50K

[5 rows x 14 columns]

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [5]:
train_data['educationno'].unique()

array([13,  9,  7, 14,  5, 10, 12,  4, 16, 11, 15,  3,  6,  1,  8,  2])

In [6]:
from sklearn.preprocessing import LabelEncoder
LB=LabelEncoder()
train_data["workclass"]=LB.fit_transform(train_data["workclass"])
train_data["maritalstatus"]=LB.fit_transform(train_data["maritalstatus"])
train_data["occupation"]=LB.fit_transform(train_data["occupation"])
train_data["relationship"]=LB.fit_transform(train_data["relationship"])
train_data["race"]=LB.fit_transform(train_data["race"])
train_data["sex"]=LB.fit_transform(train_data["sex"])
train_data["native"]=LB.fit_transform(train_data["native"])
train_data["Salary"]=LB.fit_transform(train_data["Salary"])
train_data.head(5)

   age  workclass   education  ...  hoursperweek  native  Salary
0   39          5   Bachelors  ...            40      37       0
1   50          4   Bachelors  ...            13      37       0
2   38          2     HS-grad  ...            40      37       0
3   53          2        11th  ...            40      37       0
4   28          2   Bachelors  ...            40       4       0

[5 rows x 14 columns]

In [7]:
train_data=train_data.drop(columns=['education'],axis=1)

In [8]:
train_data.head(5)

   age  workclass  educationno  ...  hoursperweek  native  Salary
0   39          5           13  ...            40      37       0
1   50          4           13  ...            13      37       0
2   38          2            9  ...            40      37       0
3   53          2            7  ...            40      37       0
4   28          2           13  ...            40       4       0

[5 rows x 13 columns]

In [9]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  int64
 2   educationno    30161 non-null  int64
 3   maritalstatus  30161 non-null  int64
 4   occupation     30161 non-null  int64
 5   relationship   30161 non-null  int64
 6   race           30161 non-null  int64
 7   sex            30161 non-null  int64
 8   capitalgain    30161 non-null  int64
 9   capitalloss    30161 non-null  int64
 10  hoursperweek   30161 non-null  int64
 11  native         30161 non-null  int64
 12  Salary         30161 non-null  int64
dtypes: int64(13)
memory usage: 3.0 MB

In [10]:
train_data_x=train_data.iloc[:,0:12]
train_data_y=train_data.iloc[:,12]

In [11]:
test_data.head(5)

   age   workclass      education  ...  hoursperweek          native  Salary
0   25     Private           11th  ...            40   United-States   <=50K
1   38     Private        HS-grad  ...            50   United-States   <=50K
2   28   Local-gov     Assoc-acdm  ...            40   United-States    >50K
3   44     Private   Some-college  ...            40   United-States    >50K
4   34     Private           10th  ...            30   United-States   <=50K

[5 rows x 14 columns]

In [12]:
from sklearn.preprocessing import LabelEncoder
LB=LabelEncoder()
test_data["workclass"]=LB.fit_transform(test_data["workclass"])
test_data["maritalstatus"]=LB.fit_transform(test_data["maritalstatus"])
test_data["occupation"]=LB.fit_transform(test_data["occupation"])
test_data["relationship"]=LB.fit_transform(test_data["relationship"])
test_data["race"]=LB.fit_transform(test_data["race"])
test_data["sex"]=LB.fit_transform(test_data["sex"])
test_data["native"]=LB.fit_transform(test_data["native"])
test_data["Salary"]=LB.fit_transform(test_data["Salary"])
test_data.head(5)

   age  workclass      education  ...  hoursperweek  native  Salary
0   25          2           11th  ...            40      37       0
1   38          2        HS-grad  ...            50      37       0
2   28          1     Assoc-acdm  ...            40      37       1
3   44          2   Some-college  ...            40      37       1
4   34          2           10th  ...            30      37       0

[5 rows x 14 columns]

In [13]:
test_data=test_data.drop(columns=['education'],axis=1)

In [14]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15060 entries, 0 to 15059
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            15060 non-null  int64
 1   workclass      15060 non-null  int64
 2   educationno    15060 non-null  int64
 3   maritalstatus  15060 non-null  int64
 4   occupation     15060 non-null  int64
 5   relationship   15060 non-null  int64
 6   race           15060 non-null  int64
 7   sex            15060 non-null  int64
 8   capitalgain    15060 non-null  int64
 9   capitalloss    15060 non-null  int64
 10  hoursperweek   15060 non-null  int64
 11  native         15060 non-null  int64
 12  Salary         15060 non-null  int64
dtypes: int64(13)
memory usage: 1.5 MB

In [15]:
test_data_x=test_data.iloc[:,0:12]
test_data_y=test_data.iloc[:,12]

In [16]:
test_data_x.head(5)

   age  workclass  educationno  ...  capitalloss  hoursperweek  native
0   25          2            7  ...            0            40      37
1   38          2            9  ...            0            50      37
2   28          1           12  ...            0            40      37
3   44          2           10  ...            0            40      37
4   34          2            6  ...            0            30      37

[5 rows x 12 columns]

In [19]:
test_data_y.head(5)

0    0
1    0
2    1
3    1
4    0
Name: Salary, dtype: int64

In [ ]:
SVC.fit(train_data_x,train_data_y)